<h1>Welcome to my {{title}} app{{usersName}}</h1>
<p>There are {{components.length}} components in this app.</p>

<div>
  <form #nameForm="ngForm" (ngSubmit)="getUserName(nameForm)">
    <label for="name">Enter in your name for a custom greeting!</label>
    <input name="name" id="name" ngModel />
    <div>
      <button>Click to add your name!</button>
    </div>
  </form>
</div>

<hr />

<div *ngFor="let name of components">
 <li>{{name}}</li>
 <button (click)="changeTitle(name)">Click Me!</button>
</div>

<div>
  <form #componentForm="ngForm" (ngSubmit)="addComponent(componentForm)">
    <label for="name">Enter a component name.</label>
    <input name="name" id="name" ngModel />
    <div>
      <button>Add to Component.</button>
    </div>
  </form>
</div>


<br />
<br />
<br />
<hr />
<app-character name="SmithWick"></app-character>
<app-character name="Doncaster"></app-character>