
<!--I need to completely refractor my app. If you stumble across this and have any insights to 
  provide, please reach out to me at brigeo987@gmail.com-->


<nav clas="navbar">
  <a class="nav-item nav-link" routerLink="/class" routerLink="active">Class List</a>
  <a class="nav-item nav-link" routerLink="/character" routerLink="active">Character Page</a>
  <a class="nav-item nav-link" routerLink="/boss" routerLink="active">Boss Monsters</a>
</nav>
<router-outlet></router-outlet>



<!--
<app-character-race-list></app-character-race-list>



<app-character-class-list></app-character-class-list>

<h1>Welcome to my {{title}} app{{usersName}}</h1>
<p>There are {{components.length}} components in this app.</p>

<app-dungeon></app-dungeon>


<hr>
<div>
  <form #nameForm="ngForm" (ngSubmit)="getUserName(nameForm)">
    <label for="name">Enter in your name for a custom greeting!</label>
    <input name="name" id="name" ngModel />
    <div>
      <button>Click to add your name!</button>
    </div>
  </form>
</div>

<hr />

<div *ngFor="let name of components">
 <li>{{name}}</li>
 <button (click)="changeTitle(name)">Click Me!</button>
</div>

<div>
  <form #componentForm="ngForm" (ngSubmit)="addComponent(componentForm)">
    <label for="name">Enter a component name.</label>
    <input name="name" id="name" ngModel />
    <div>
      <button>Add to Component.</button>
    </div>
  </form>
</div>


<br />
<br />
<br />
<hr />
<app-character name="SmithWick" type="bard"></app-character>
<app-character name="Doncaster" type="fighter"></app-character>

<app-bosslist></app-bosslist>

<app-townspeople></app-townspeople>
-->